.terminal{
    height: 500px;
    overflow-y: scroll;
    width: 500px;
    border: 1px solid black;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.node{
    height:30px;
}
